{
    "extends": ["react-app", "plugin:import/errors", "plugin:import/warnings", "airbnb"],
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    },
    "rules":{
        "indent": ["error", 4],

        "no-use-before-define": "off",

        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],

        "react/jsx-curly-newline": "off",
        "react/jsx-props-no-spreading": "off",
        "react/forbid-prop-types": "off",
        "react/state-in-constructor": "off",
        "react/static-property-placement": "off"
    }
}
