{
    "extends": "airbnb",
    "rules":{
        // Indent JSX with 4 spaces
        "react/jsx-indent": ["error", 4],
        // Indent props with 4 spaces
        "react/jsx-indent-props": ["error", 4],
        // Indent with 4 spaces
        "indent": ["error", 4],

        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-curly-newline": "off",
        "react/state-in-constructor": "off",
        "react/static-property-placement": "off",
        "react/jsx-props-no-spreading": "off"
    }
}
